.App {
  text-align: center;
}

.card-columns {
  column-count: 1 !important;
}
.cdimg{
  width: 250px !important;
  height: 250px !important;
}
.dish img{
  width: 100%;
}
.card-subtitle > div {
  margin: 0 15px 0 0;
}